# ────────────────────────── 공통 ──────────────────────────
HELP.md

# ────────────────────────── Gradle ─────────────────────────
.gradle/
build/
gradle/
!**/src/main/**/build/
!**/src/test/**/build/

# gradle-wrapper 파일(gradlew, gradlew.bat)은 커밋해야 하므로 제외하지 않습니다

# ────────────────────────── STS ───────────────────────────
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ─────────────────────── IntelliJ IDEA ────────────────────
.idea
*.iws
*.iml
*.ipr
.idea/

# ───────────────────────── NetBeans ───────────────────────
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ───────────────────────── VS Code ─────────────────────────
.vscode/

# ───────────────────────── Secret Keys ─────────────────────
/src/main/resources/application-secret.yml
.env
.env.*


# ───────────────────────── Query DSL ─────────────────────
/src/main/generated/
gradlew
gradlew.bat
