# ────────────────────────── 공통 ──────────────────────────
HELP.md

# ────────────────────────── Gradle ─────────────────────────
.gradle/                       # 전역 캐시
build/                         # 루트 build 결과
gradle/                        # gradle-wrapper JAR·프로퍼티
!**/src/main/**/build/         # 소스 내부 build 폴더만 예외
!**/src/test/**/build/

# gradle-wrapper 파일(gradlew, gradlew.bat)은 커밋해야 하므로 제외하지 않습니다

# ────────────────────────── STS ───────────────────────────
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ─────────────────────── IntelliJ IDEA ────────────────────
.idea
*.iws
*.iml
*.ipr

# ───────────────────────── NetBeans ───────────────────────
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ───────────────────────── VS Code ─────────────────────────
.vscode/

# ───────────────────────── Secret Keys ─────────────────────
/src/main/resources/application-secret.yml
/src/main/resources/application-prod.yml
/src/main/resources/application-dev.yml